#### 2. 전처리

In [5]:
import pandas as pd

df=pd.read_csv('./csv/hotel_all.csv',index_col=0)
df.tail(1)

,Unnamed: 0,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade
36257,219,골든 파크 호텔 제주 (Golden Park Hotel Jeju),8.0,Lee (대한민국),나홀로 여행객,"룸 (싱글베드 2개, 금연)",2022년 12월 | 2박,가성비 좋은 호텔,['전반적으로 깨끗하고 뚜벅이 여행에 최고좋은 시외버스터미널이 걸어서 5분이라 제주...,1

In [6]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)
df.head(1)

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade
0,메종 글래드 제주 (Maison Glad Jeju),10.0,Seung-hye (대한민국),나홀로 여행객,스탠다드 트윈,2021년 5월 | 3박,기대보다 좋았어요,['시설이 낡았다는 후기를 보고 별 기대없이 갔는데 3박동안 행복하게 보내고 왔습니...,5

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36258 entries, 0 to 36257
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Hotel            36258 non-null  object
 1   Point            36258 non-null  object
 2   Country          36257 non-null  object
 3   member           36258 non-null  object
 4   Room type        36258 non-null  object
 5   Date             36258 non-null  object
 6   Review Title     36254 non-null  object
 7   Review Contents  36258 non-null  object
 8   Grade            36258 non-null  int64
dtypes: int64(1), object(8)
memory usage: 2.8+ MB

In [8]:
# 결측치 확인

df.isnull().sum()

Hotel              0
Point              0
Country            1
member             0
Room type          0
Date               0
Review Title       4
Review Contents    0
Grade              0
dtype: int64

In [9]:
df['Review Title']=df['Review Title'].fillna('제목없음')

In [10]:
df[df['Country'].isnull() == True]

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade
7461,라마다 프라자 제주 호텔 (Ramada Plaza Jeju),9.2,NaN,유아/아동 동반 가족 여행객,"Harbor Family Twin, 2 King, Harbor View",2019년 6월 | 2박,공항과 까가워서 좋았어요~,['조금 오랫된 호텔이지만 깨끗하고 방도 생각보다 커서 얘기 데고 가는게 좋은것 같...,5

In [11]:
df['Country']=df['Country'].fillna('(대한민국)')
df[df['Country'].isnull() == True]

Empty DataFrame
Columns: [Hotel, Point, Country, member, Room type, Date, Review Title, Review Contents, Grade]
Index: []

In [12]:
df['member'].unique()

array(['나홀로 여행객', '커플/2인 여행객', '유아/아동 동반 가족 여행객', '그룹 여행객', '출장 여행객',
       '청소년 동반 가족 여행객', '디럭스 더블', '싱글 스탠다드룸'], dtype=object)

In [13]:
# '디럭스 더블', '싱글 스탠다드룸' 삭제

df=df.drop(index=df.loc[df.member == '싱글 스탠다드룸'].index)
df=df.drop(index=df.loc[df.member == '디럭스 더블'].index)

In [14]:
df['Point'].unique()

array(['10.0', '10.0 최고', '9.6', '9.2', '8.8', '8.4', '9.2 최고', '9.6 최고',
       '8.0', '7.6 매우 좋음', '8.4 우수', '7.2', '8.0 우수', '7.6', '7.2 좋음',
       '6.8', '6.8 양호', '6.4', '6.0', '5.6', '4.8', '5.2', '6.4 양호',
       '4.4', '4.0', '3.2', '3.6', '2.8', '2.0', '8.7 우수', '8.7', '2.4',
       '8.8 우수', '9.0', '4.3', '8.3', '7.0', '9.3', '7.3', '6.3',
       '9.3 최고', '6.7 양호', '9.7 최고', '7.0 좋음', '3.7', '7.7 매우 좋음', '7.7',
       '2.3', '9.0 최고', '5.0', '9.7', '6.3 양호', '4.7', '6.7', '5.3',
       '3.0', '5.7', '8.3 우수', '7.3 좋음', '2.7', '9.5', '3.3', '9.5 최고',
       '5.5', '7.5'], dtype=object)

In [15]:
#point 숫자만 가져오기

df['Point']=df['Point'].str.split(' ').str[0]
df['Point'].unique()

array(['10.0', '9.6', '9.2', '8.8', '8.4', '8.0', '7.6', '7.2', '6.8',
       '6.4', '6.0', '5.6', '4.8', '5.2', '4.4', '4.0', '3.2', '3.6',
       '2.8', '2.0', '8.7', '2.4', '9.0', '4.3', '8.3', '7.0', '9.3',
       '7.3', '6.3', '6.7', '9.7', '3.7', '7.7', '2.3', '5.0', '4.7',
       '5.3', '3.0', '5.7', '2.7', '9.5', '3.3', '5.5', '7.5'],
      dtype=object)

In [16]:
# point float형으로 변경

df['Point']=df['Point'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36256 entries, 0 to 36257
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Hotel            36256 non-null  object
 1   Point            36256 non-null  float64
 2   Country          36256 non-null  object
 3   member           36256 non-null  object
 4   Room type        36256 non-null  object
 5   Date             36256 non-null  object
 6   Review Title     36256 non-null  object
 7   Review Contents  36256 non-null  object
 8   Grade            36256 non-null  int64
dtypes: float64(1), int64(1), object(7)
memory usage: 2.8+ MB

In [17]:
# 날짜에서 년, 월 분리

df['Year']=df['Date'].str.split(' ').str[0]
df['Month']=df['Date'].str.split(' ').str[1]

df.head(1)

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade,Year,Month
0,메종 글래드 제주 (Maison Glad Jeju),10.0,Seung-hye (대한민국),나홀로 여행객,스탠다드 트윈,2021년 5월 | 3박,기대보다 좋았어요,['시설이 낡았다는 후기를 보고 별 기대없이 갔는데 3박동안 행복하게 보내고 왔습니...,5,2021년,5월

In [18]:
df['stay_day']=df['Date'].str.split(' ').str[3]
df['stay_day']=df['stay_day'].str.extract(r'(\d+)')  # 숫자만
df['stay_day']=df['stay_day'].astype('int')

df.head(1)

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade,Year,Month,stay_day
0,메종 글래드 제주 (Maison Glad Jeju),10.0,Seung-hye (대한민국),나홀로 여행객,스탠다드 트윈,2021년 5월 | 3박,기대보다 좋았어요,['시설이 낡았다는 후기를 보고 별 기대없이 갔는데 3박동안 행복하게 보내고 왔습니...,5,2021년,5월,3

In [22]:
df.reset_index(drop=True,inplace=True)
df.tail(1)

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade,Year,Month,stay_day
36255,골든 파크 호텔 제주 (Golden Park Hotel Jeju),8.0,Lee (대한민국),나홀로 여행객,"룸 (싱글베드 2개, 금연)",2022년 12월 | 2박,가성비 좋은 호텔,['전반적으로 깨끗하고 뚜벅이 여행에 최고좋은 시외버스터미널이 걸어서 5분이라 제주...,1,2022년,12월,2

In [23]:
df=df[df['Country'].str.contains('대한민국')]
df.reset_index(drop=True,inplace=True)

In [24]:
df['Country']='대한민국'
df.tail(1)

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade,Year,Month,stay_day
30583,골든 파크 호텔 제주 (Golden Park Hotel Jeju),8.0,대한민국,나홀로 여행객,"룸 (싱글베드 2개, 금연)",2022년 12월 | 2박,가성비 좋은 호텔,['전반적으로 깨끗하고 뚜벅이 여행에 최고좋은 시외버스터미널이 걸어서 5분이라 제주...,1,2022년,12월,2

In [25]:
# 컬럼 순서 변경

df=df[['Grade','Hotel','Country','Year','Month','stay_day','member','Room type', 'Date','Review Title','Review Contents']]
df.tail(1)

,Grade,Hotel,Country,Year,Month,stay_day,member,Room type,Date,Review Title,Review Contents
30583,1,골든 파크 호텔 제주 (Golden Park Hotel Jeju),대한민국,2022년,12월,2,나홀로 여행객,"룸 (싱글베드 2개, 금연)",2022년 12월 | 2박,가성비 좋은 호텔,['전반적으로 깨끗하고 뚜벅이 여행에 최고좋은 시외버스터미널이 걸어서 5분이라 제주...

In [28]:
# 년, 월 숫자만 

import re

def text_num(text):
    hangul = re.compile('[^0-9]')
    result = hangul.sub('', text)
    return result

df['Year']=df['Year'].apply(lambda x : text_num(x))
df['Month']=df['Month'].apply(lambda x : text_num(x))


df['Month']=df['Month'].astype('int')
df['Year']=df['Year'].astype('int')
df.tail(1)

,Grade,Hotel,Country,Year,Month,stay_day,member,Room type,Date,Review Title,Review Contents
30583,1,골든 파크 호텔 제주 (Golden Park Hotel Jeju),대한민국,2022,12,2,나홀로 여행객,"룸 (싱글베드 2개, 금연)",2022년 12월 | 2박,가성비 좋은 호텔,['전반적으로 깨끗하고 뚜벅이 여행에 최고좋은 시외버스터미널이 걸어서 5분이라 제주...

In [29]:
# 리뷰 한글만 나오게 전처리


import re

def text_cleaning(text):
    hangul = re.compile('[^ ㄱ-ㅣ가-힣]+')
    result = hangul.sub('', text)
    return result

df['Review Title']=df['Review Title'].apply(lambda x : text_cleaning(x))
df['Review Contents']=df['Review Contents'].apply(lambda x : text_cleaning(x))
df.head(1)

,Grade,Hotel,Country,Year,Month,stay_day,member,Room type,Date,Review Title,Review Contents
0,5,메종 글래드 제주 (Maison Glad Jeju),대한민국,2021,5,3,나홀로 여행객,스탠다드 트윈,2021년 5월 | 3박,기대보다 좋았어요,시설이 낡았다는 후기를 보고 별 기대없이 갔는데 박동안 행복하게 보내고 왔습니다 새...